@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;

// $white: #F5F5F5;
// $light: #BBDEFB;
// $tan: #64B5F6;
// $pink: #64B5F6;
// $rose: #64B5F6;
// $dark: #4E4E4E;

$white: rgb(226, 226, 226);
$light: $clr005;
$tan: $clr002;
$pink: $clr002;
$rose: $clr004;
$dark: $clr002;

/* center container in the middle */

.contact-details-container {
    background-color: $clr002;
    position: relative;
    flex-grow: 1;
.contact-details {
    display: grid;
    background-color: $light;
    font-family: $font, sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50% , -50%);
    margin: auto;
    overflow: hidden;
    width: 570px;
    height: 350px;
    background: $white;
    box-shadow: 5px 5px 15px rgba($rose, .5);
    border-radius: 10px;

    p {
        font-size: 0.6em;
        color: $rose;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 1.2em;
        color: $dark;
        margin-top: -5px;
        margin-bottom: 5px;
    }

    h2 {
        color: $tan;
        margin-top: 10px;
    }

    .images {
        height: 160px;
        margin-top: 20px;
        img {
            width: 150px;
        }
        .transfer-funds {
            background-color: $clr007;
        }
    }

    .product {
        position: absolute;
        width: 40%;
        height: 100%;
        top: 5%;
        left: 60%;
    }

    .desc {
        text-transform: none;
        letter-spacing: 0;
        margin-bottom: 17px;
        color: $dark;
        font-size: .9em;
        line-height: 1.6em;
        margin-right: 25px;
        text-align: justify;
        margin-top: 20px;
    }

    button {
        background: darken($light, 10%);
        padding: 10px;
        display: inline-block;
        outline: 0;
        border: 0;
        margin: -1px;
        border-radius: 2px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $white;
        cursor: pointer;

        &:hover {
            background: $rose;
            transition: all .3s ease-in-out;
        }
        &.send-btn {
            background-color: $clr004;
            border-radius: 3px;
        }
    }

    .remove-contact {
        margin-top: 16px;
        background-color: rgb(238, 107, 107);
        width: 94%;
        &:hover {
            background-color: rgb(255, 67, 67);
        }
    }

    .add {
        width: 67%;
        margin-bottom: 5px;
        span {
            margin-left: 5px;
        }
    }

    .back {
        width: 67%;
        background-color: $clr002;
        &:hover {
            background-color: $clr001;
        }
    }

    .pick {
        margin-top: 11px;
        margin-bottom: 0;
        margin-left: 20px;
    }
}
.buttons {
    position: absolute;
    bottom: 40px;
    width: 140%;
}
}