// Colors
// $clr001: #1565C0;
// $clr002: #0D47A1;
// $clr003: #64B5F6;
// $clr004: #BBDEFB;
// $clr005: #E3F2FD;

$clr001: #0d1b2a;
$clr002: #1b263b;
$clr003: #415a77;
$clr004: #778da9;
$clr005: #c5c8bd;
$clr006: #596d83;
$clr007: #e9ebe6;


$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;